steamapps/
appcache/
BattlEye/
config/
Content/
CuratedMapIcons/
depotcache/
Extras/
LoadingScreens/
Logs/
Modules/
MonoBleedingEdge/
Sandbox/
Servers/
userdata/
Unturned_Data/
Unturned_Headless_Data/
Bundles/Sources/

install.vdf
Licenses.txt
ServerHelper.*
steamclient.*
steamclient64.*
StreamerNames.json
tier0_s.*
tier0_s64.*
UnityPlayer.*
UnityCrashHandler64.*
Unturned_Headless.*
vstdlib_s.*
vstdlib_s64.*
ExampleServer.*

**/Landscape
**/Editor
**/Terrain

*.masterbundle
*.hash
*.log
*.bak
*.unity3d
*.jpg
*.png
*.lnk
*.unitypackage
*.blend

*.dll
*.so
*.exe
*.x86_64
*.bat
*.sh

*.blob
*.commit

SteamCMD/
tools/
steamcmd/

.vs/